@if (favouriteCharacters.results && favouriteCharacters.results.length > 0) {
<div class="header">
    <h3>Favourite Characters</h3>
    <mat-divider></mat-divider>
</div>
<mat-paginator [length]="favouriteCharacters.info.count" [pageSize]="20" (page)="handleFavouritePageEvent($event)">
</mat-paginator>
<div class="list">
    @for (character of favouriteCharacters.results; track $index) {
    <app-character-card [character]="character" [isFavorite]="true"></app-character-card>
    }
</div>
}

<div class="header">
    <h3>All Characters</h3>
    <mat-divider></mat-divider>
</div>
<mat-paginator [length]="response.info.count" [pageSize]="20" (page)="handlePageEvent($event)">
</mat-paginator>
<div class="list">
    @for (character of response.results; track $index) {
    <app-character-card [character]="character"></app-character-card>
    }
</div>