@if (favouriteCharacters.results && favouriteCharacters.results.length > 0) {
<div class="header">
    <h1>Favourite Characters</h1>
</div>
<mat-divider></mat-divider>
<mat-paginator [length]="favouriteCharacters.info.count" [pageSize]="favouriteCharactersCountPerPage" (page)="handleFavouritePageEvent($event)">
</mat-paginator>
<div class="list">
    @for (character of favouriteCharacters.results; track $index) {
    <app-character-card [character]="character" [isFavorite]="true"></app-character-card>
    }
</div>
}

<div class="header">
    <h1>All Characters</h1>
    <app-search type="characters"></app-search>
</div>
<mat-divider></mat-divider>
<mat-paginator [length]="response.info.count" [pageSize]="charactersCountPerPage" (page)="handlePageEvent($event)">
</mat-paginator>
<div class="list">
    @for (character of response.results; track $index) {
    <app-character-card [character]="character"></app-character-card>
    }
    @empty {
        <p>No result.</p>
    }
</div>