.header {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px 0;
}